:root {
    --primary-color: #000;
    --secondary-color: #9c4ee6;
    --tertiary-color: #ff55b0;
    --success-color: #26A96C;
    --error-color: #D7263D;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--primary-color);
}

/* Navbar */
#main-navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

#main-navbar a {
    color: #fff;
    text-decoration: none;
}

#navbar-brand {
    display: flex;
    align-items: center;
    gap: 20px;
}

.navbar-container {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

#logo {
    width: 50px;
}

#gamerank-title {
    color: var(--secondary-color);
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px;
}

#search-form {
    margin-right: 140px;
}

#search {
    border: 1px solid #fff;
    border-radius: 30px;
    padding: 10px;
    background-color: transparent;
    color: #fff;
    min-width: 350px;
}

#search-button {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: none;
    cursor: pointer;
}

#search-button:hover {
    background: linear-gradient(45deg, var(--secondary-color), var(--tertiary-color));
}

.nav-item {
    font-size: 14px;
    list-style-type: none;
}

.hidden {
    display: none;
}

.user {
    display: flex;
    align-items: center;
    gap: 10px;
}

.user button {
    height: 44px;
    width: 44px;
    background-color: transparent;
    border-radius: 100%;
    border: none;
    cursor: pointer;
}

#profile-picture {
    width: 40px;
    height: 40px;
    border: 2px solid var(--secondary-color);
    border-radius: 100%;
    background-size: cover;
    background-position: center;
}

#user-menu {
    display: none;
    position: fixed;
    top: 70px;
    right: 20px;
    width: 200px;
    padding: 20px 20px 5px 20px;
    border: 1px solid #fff;
    border-radius: 10px;
    background-color: var(--primary-color);
}

#user-menu li {
    list-style-type: none;
}

.user-menu-item {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 15px;
}

.user-menu-item i {
    width: 15px;
}

.user-menu-item i,
.user-menu-item p {
  transition: color 0.3s ease;
  color: #fff;
}

.user-menu-item:hover i,
.user-menu-item:hover p {
  color: var(--secondary-color);
}

.msg-container {
    width: 30%;
    padding: 15px;
    border: none;
    border-radius: 5px;
    position: fixed;
    top: 90px;
    right: 20px;
    z-index: 1000;
}

.msg {
    color: #fff;
    text-align: center;
}

.msg-content {
    display: flex;
    align-items: center;
    gap: 15px;
}

.msg-content {
    color: #fff;
}

.msg-container.error {
    background-color: var(--error-color);
}
  
.msg-container.success {
    background-color: var(--success-color);
}

.toast-button {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 10px;
}

.toast-button i {
    color: #fff;
}

/* Home */
#main-container {
    flex: 1;
    display: flex;
    justify-content: center;
    color: #fff;
}

#main-content {
    width: 100%;
    padding: 30px;
}

.section-title {
    border-left: 2px solid var(--secondary-color);
    padding-left: 10px;
    margin-bottom: 10px;
}

.section-description {
    color: #888;
    margin-bottom: 20px;
}

.games-container {
    display: flex;
    margin-bottom: 40px;
    gap: 40px;
    flex-wrap: wrap;
}

.card {
    min-width: 360px;
    border-radius: 10px;
    border: 1px solid #fff;
}

.card-image {
    height: 300px;
    width: 100%;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-body {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    color: #fff;
}

.card-body a {
    text-decoration: none;
    color: #fff;
}

.card-rating i {
    color: #e6cc3e;
}

.card-title {
    font-size: 16px;
    margin-bottom: 20px;
}

.card-button {
    width: 100%;
    text-align: center;
    padding: 10px;
}

.details-button {
    background-color: var(--secondary-color);
    border-radius: 5px;
}

.rating-button {
    border: 1px solid #fff;
    border-radius: 5px;
    transition: .5s ease;
}

.rating-button:hover {
    color: var(--secondary-color);
    border-color: var(--secondary-color);
}

.empty-list {
    text-align: center;
    width: 100%;
}

/* Dashboard */
.add-game-container {
    text-align: right;
}

.basic-button {
    text-align: center;
    padding: 10px;
    background-color: var(--secondary-color);
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
}

#games-dashboard {
    margin-top: 30px;
}

.games-table {
    width: 100%;
    border-collapse: collapse;
}

.games-table th {
    border-bottom: 1px solid #383838;
    padding: 10px;
    color: var(--secondary-color);
    font-weight: 500;
}

.games-table td {
    text-align: center;
    padding: 15px;
}

.table-game-title {
    color: #FFF;
    font-weight: bold;
    transition: ease .5s;
    font-weight: 400;
}

.table-game-title:hover {
    color: var(--secondary-color);
}

.actions-column form {
    display: inline-block;
}

.rating-column {
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: 5px;
}

.rating-column i {
    color: #e6cc3e;
}

.edit-game-button {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
}

.delete-game-button {
    color: #fff;
    background: transparent;
    border: none;
    cursor: pointer;
}

/* Login */
#login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 450px;
    border-radius: 5px;
    padding: 30px;
}

#login-container h2 {
    color: var(--secondary-color);
    font-size: 32px;
    text-align: center;
    margin: 20px 0px 30px;
    letter-spacing: 2px;
}

.form-login {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #fff;
    margin-bottom: 30px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: transparent;
    color: #fff;
}

.form-group.file {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.form-button {
    width: 100%;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    background: linear-gradient(45deg, var(--secondary-color), var(--tertiary-color));
    padding: 10px;
    cursor: pointer;
}

.form-info {
    color: #fff;
    font-size: 14px;
    font-weight: 200;
    text-align: center;
    margin-top: 10px;
}

.form-info a {
    color: #fff;
    font-weight: 400;
}

/* Profile */
#profile-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 60px;
    padding: 40px;
    width: 100%;
}

#profile-image-container {
  width: 150px;
  height: 150px;
  border: 6px solid var(--secondary-color);
  border-radius: 100%;
  background-size: cover;
  background-position: center;
  margin: 15px auto;
}

.file-upload {
    cursor: pointer;
    text-align: center;
    font-size: 14px;
    text-decoration: underline;
    transition: .5s ease;
}

#file-name {
    text-align: center;
    font-size: 14px;
    color: #888;
}

.file-upload:hover {
    color: var(--secondary-color);
}

.form-profile {
    width: 40%;
}

.form-profile p {
    color: #fff;
    margin-bottom: 30px;
}

#user-name, #change-password-title {
    color: var(--secondary-color);
    letter-spacing: 2px;
    text-transform: uppercase;
}

.form-group .form-control-file {
    border: none;
    padding: 0px;
}

.form-group .disabled {
    background-color: #383838;
    border-color: #383838;
    pointer-events: none;
}

.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: transparent;
    color: #fff;
    resize: none;
}

.edit-button {
    width: 40%;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    background: linear-gradient(45deg, var(--secondary-color), var(--tertiary-color));
    padding: 10px;
    cursor: pointer;
}

#vertical-separator {
    width: 1px;
    background: #fff;
}

/* Add game */
.page-content {
    max-width: 600px;
}

.title-container {
    margin: 40px 0;
}

.title-container h1 {
    color: var(--secondary-color);
    text-transform: uppercase;
    letter-spacing: 2px;
}

.title-container p {
    color: #fff;
}

.select-option {
    width: 100%;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: transparent;
    color: #888;
}

.select-option.has-value {
    color: #fff;
}

.form-group select option {
    background-color: #000;
    color: #fff;
}

.file-upload-button {
    text-align: center;
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
    border: 1px solid #fff;
    border-radius: 5px;
    width: 40%;
    transition: .5s ease;
}

.file-upload-button:hover {
    color: var(--secondary-color);
    border-color: var(--secondary-color);
}


/* Footer */
#footer {
    color: #fff;
    text-align: center;
    padding: 20px;
    margin: 0;
}

#footer p {
    font-size: 14px;
    font-weight: 300;
}

#social-container ul {
    list-style-type: none;
    padding: 0;
}

#social-container li {
    display: inline-block;
    margin: 0px 20px 20px;
    height: 20px;
    width: 20px;
}

#social-container a {
    color: #fff;
    transition: .5s;
}

#social-container li i {
    font-size: 25px;
}

#social-container li:hover i {
    background: linear-gradient(45deg, var(--secondary-color), var(--tertiary-color));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}